// Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Variables
@import 'variables';

// Bootstrap
@import '~materialize-css/sass/materialize.scss';

body{
    font-family: 'Source Sans Pro';
}

.alert-success{
    text-align: center;
    padding: 20px;
    background: lightblue;
    font-size: 20px;
}

.dropdown-content{
    top: 60px!important;
}

li{
    font-size: 1.3rem;
}
